.navbars{
width: 100%;
height: 130px;
background-color: rgb(255, 251, 251);
.navbar{
    width: 100%;
    height: 130px;
display: flex;
justify-content: space-around;
background-color: rgba(0, 0, 0, 0.412);
align-items: center;


&__left{
    display: flex;
    gap: 30px;
    align-items: center;
   ul{
    display: flex;
    align-items: center;
    gap: 20px;
   list-style: none;
   #link{
    text-decoration: none;
    color: black;
    font-size: 17px;
    
    font-weight: 700;
   }
   }
}
&__right{
    display: flex;
    align-items: center;
    gap: 30px;

}
}
}